@inherits LayoutComponentBase

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body class="w3-theme-l5">
    <div class="page">
        <div class="main">
            <a class="navbar-brand" href="/FeedNews"><img src="/img/Logo-semFundo.png" class="w3-hover-opacity w3-display-topleft" width="320px" height="255px" /></a>
            <div class="w3-right w3-padding">
                <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
            @Body

        </div>
    </div>
</body> 
